<h1>Hello world</h1>

<ul class="todo">
  <% @todos.each do |todo| %>
    <li class="<%= 'completed' if todo.completed? %>">
      <%= todo.title %>
      <% if todo.completed? %>
        <%= button_to 'Mark as incomplete', todo_completion_path(todo), {:class => "mark incomplete "} %>
      <% else %>
        <%= button_to 'Mark as complete', todo_completion_path(todo), {:class => "mark complete"} %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to 'Add a new todo', new_todo_path %>
